.section-header.nine.columns.centered
  h1 {{note.title}}
  hr
  h3.subheader {{moment(note.updated_at).format('MMMM Do YYYY @ h:mm:ss a')}}
    
.row  
  .one.columns
  .ten.columns
    .panel
      .row
        .twelve.columns
          h4 Title:
          p
            h5#title {{note.title}}
          hr
      .row
        .twelve.columns
          h4 Tags:
          p#tags
            span.tags.round.secondary.label(ng-repeat='tag in note.tags')
              a(ui-sref='notes.list({tag:tag})') {{tag}}
          hr
      .row
        .twelve.columns
          h4 Body:
          blockquote
            #body {{note.body}}
          hr
      .row
        .twelve.columns
          h4 Attachments:
          ul.small-block-grid-3
            li(ng-repeat='url in note.urls')
              img.th(ng-src='{{url}}')
          hr
      .row
        .twelve.columns
          a.btn.btn-tiny.btn-primary.radius.left(ng-click='') 
            i.fa.fa-chevron-left &nbsp; Back
          a.btn.btn-tiny.btn-alert.radius.right(ng-click='nuke(note)')
            i.fa.fa-trash &nbsp; Delete
  .one.columns
