h1 notes

.row
  .small-8.columns
    h3 list
    table#notes
      thead
        tr
          th Delete
          th Title
          th Tags
      tbody
        tr(ng-repeat='note in notes')
          td
            a(ng-click='nuke(note)')
              img(ng-src='/assets/delete.png')
          td: a(ui-sref='notes.detail({noteId:note.note_id})') {{note.title}}
          td
            span.tag(ng-repeat='name in note.tags')
              a(ui-sref='notes.list({tag:name})') {{name}}          
    .pagination-centered
      ul.pagination
        li(ng-class='{current:isCurrent(page)}', ng-repeat='page in _.range(0,pages)')
          a(ui-sref='notes.list({page:page})') {{page}}
  .small-4.columns
    h3 create
    input(type='text', ng-model='note.title', placeholder='Title')
    textarea(ng-model='note.body')
    input(type='text', ng-model='note.tags', placeholder='tag1,tag2,tag3')
    button.small.radius(ng-file-select, ng-model="files", multiple="true") Add Files
    button.small.radius.success(ng-click='create(note)') Create

    h3 uploading
    table
      thead
        tr
          th Files
          th Uploaded
      tbody
        tr
          td {{files.length}}
          td {{count}}
