.section-header.nine.columns.centered
  h1 {{note.title}}
  hr
  h3.subheader {{moment(note.updated_at).format('LLLL')}}
  h3#tags
    span.tag.round.secondary.label(ng-repeat='tag in note.tags')
      a(ui-sref='notes.list({tag:tag})') {{tag}}
  blockquote
    #body {{note.body}}
  h4 Attachments:
  ul.small-block-grid-3
    li(ng-repeat='url in note.urls')
      img.th(ng-src='{{url}}')
  //- hr
  //- .row
  //-   a.btn.btn-tiny.btn-primary.radius.left(ng-click='') 
  //-     i.fa.fa-chevron-left &nbsp; Back
  //-   a.btn.btn-tiny.btn-alert.radius.right(ng-click='nuke(note)')
  //-     i.fa.fa-trash &nbsp; Delete
  //- .row
