h1 {{note.title}}
h5 Date
h6.subheader {{moment(note.updated_at).format('MMMM Do YYYY @ h:mm:ss a')}}
h5 Tags
#tags
  .tag(ng-repeat='tag in note.tags')
    a(ui-sref='notes.list({tag:tag})') {{tag}}
h5 Body
blockquote {{note.body}}
h5 Photos
ul.small-block-grid-3
  li(ng-repeat='url in note.urls')
    img.th(ng-src='{{url}}')
