.section-header.nine.columns.centered
  h1 DASHBOARD
  hr

.row
  .six.columns
    .panel
      .row
        .twelve.columns
          h2 New Note
        hr
      .row  
        .twelve.columns
          form(name='newNoteForm', enctype='multipart/form-data')
            .row
              .twelve.columns
                label(for='title') Title
                input#name(type='text', name='title', placeholder='New Note',ng-model='note.title', autofocus)
            .row
              .twelve.columns
                label(for='body') Body
                textarea#body(name='body', placeholder='What do you need me to remember for you?', ng-model='note.body')
            .row
              .twelve.columns
                  label(for='tags') Tags (comma separated)
                  input#tags(type='text', name='tags', placeholder='tag1,tag2,tag3', ng-model='note.tags')
            .row
              .six.columns
                label(for='files') Attachment(s)
                input(type='file', ng-file-select='', name='files', ng-model='files', ng-file-model='files', ng-multiple='true')
              .six.columns
                label Upload Progress
                table
                  thead
                    tr
                      th Files
                      th Uploaded
                  tbody
                    tr
                      td {{files.length}}
                      td {{count}}
              .row
                .twelve.columns
                  a.button.expand.success.radius(ng-click='create(note)') Create Note
  .six.columns  
    .row
      .twelve.columns
        h2 My Notes
    .row
      .twelve.columns
        table#notes
          thead
            tr
              th Title
              th Tags
              th Last Updated
              th View Note
          tbody
            tr(ng-repeat='note in notes')
              td {{note.title}}
              td
                span.tags.round.secondary.label(ng-repeat='name in note.tags')
                  a(ui-sref='notes.index({tag:name})') {{name}}   
              td {{note.updatedAt | date: medium}}
              td
                a.btn.btn-tiny.btn-secondary.radius(ui-sref='notes.show({noteId:note.note_id})') View
        .pagination-centered
          ul.pagination
            li(ng-class='{current:isCurrent(page)}', ng-repeat='page in _.range(0,pages)')
              a(ui-sref='notes.index({page:page})') {{page}}
